.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    &__list{}
    &__img{
        width: 100%;
        border-radius: 50%;
        display: block;

    }
    &__sold{

    }
}
